.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
client/.*
*.dub
*.sll
*.iml
*.settings
*build/*
*/build/*
.gradle*
local.properties
*.exe
*.idea/*
*/.idea/*
/.idea
graddle/gradle/wrapper/gradle-wrapper.jar
gradle/gradle/wrapper/gradle-wrapper.properties
gradle/gradlew
